<a href="https://colab.research.google.com/github/lipsitasahu/lipsitasahu/blob/main/cloth_m_top_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline 
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from scipy.stats import zscore
import seaborn as sns

C:\Users\lipsita\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
NNH = KNeighborsClassifier(n_neighbors= 5 , weights = 'distance' )

In [ ]:
bc_df = pd.read_csv("Dataset_m_top_final.csv")

In [ ]:
bc_df.head()

,ImgID,BodySize,Complexion,Occasion,DressColor,DressDesign,Matching
0,photo-1492447166138-50c3889fccb1,L,Very Fair,Casual,Black&White,Cuban Collar Shirt,Y
1,Img_4,XL,Fair,Casual,Blue&White,Linen Shirt,N
2,image_51,M,Medium,Casual,LightBlue,Overshirt,N
3,image_52,M,Very Fair,Casual,Muddy Brown,Linen Shirt,Y
4,image_53,S,Fair,Wedding,White&Pink,Overshirt,Y

In [ ]:
bc_df.shape

(355, 7)

In [ ]:
bc_df.dtypes

ImgID          object
BodySize       object
Complexion     object
Occasion       object
DressColor     object
DressDesign    object
Matching       object
dtype: object

In [ ]:
bc_df = bc_df.drop(labels = "ImgID", axis = 1)

In [ ]:
bc_df.tail()

,BodySize,Complexion,Occasion,DressColor,DressDesign,Matching
350,XL,Olive,Party,Blue&White,Oxford Button-Down Shirt,N
351,S,Very Fair,Formal,White,Classic Short Sleeve Shirt,Y
352,L,Medium,Casual,Blue&White,Casual Shirts,N
353,XL,Fair,Sports,White,Oxford Button-Down Shirt,Y
354,XL,Brown,Sports,Blue,Classic Short Sleeve Shirt,Y

In [ ]:
bc_df.shape

(355, 6)

In [ ]:
dummy_match_df=pd.get_dummies(bc_df,drop_first=True)
dummy_match_df.head()

,BodySize_M,BodySize_S,BodySize_XL,BodySize_XS,BodySize_XXL,Complexion_Dark Brown,Complexion_Fair,Complexion_Medium,Complexion_Olive,Complexion_Very Fair,...,DressDesign_Linen Shirt,DressDesign_Overshirt,DressDesign_Oxford Button-Down Shirt,DressDesign_Polo Shirt,DressDesign_Round Neck,DressDesign_Sflannel Shirt,DressDesign_Sport jacket,DressDesign_T Shirt,DressDesign_Winter Wear,Matching_Y
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,0,0,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,1,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1

In [ ]:
bc_feature_df = dummy_match_df.drop(labels= "Matching_Y" , axis = 1)
bc_feature_df.head()

,BodySize_M,BodySize_S,BodySize_XL,BodySize_XS,BodySize_XXL,Complexion_Dark Brown,Complexion_Fair,Complexion_Medium,Complexion_Olive,Complexion_Very Fair,...,DressDesign_Kurti,DressDesign_Linen Shirt,DressDesign_Overshirt,DressDesign_Oxford Button-Down Shirt,DressDesign_Polo Shirt,DressDesign_Round Neck,DressDesign_Sflannel Shirt,DressDesign_Sport jacket,DressDesign_T Shirt,DressDesign_Winter Wear
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
bc_feature_df_z = bc_feature_df.apply(zscore)  
bc_feature_df_z.describe()

,BodySize_M,BodySize_S,BodySize_XL,BodySize_XS,BodySize_XXL,Complexion_Dark Brown,Complexion_Fair,Complexion_Medium,Complexion_Olive,Complexion_Very Fair,...,DressDesign_Kurti,DressDesign_Linen Shirt,DressDesign_Overshirt,DressDesign_Oxford Button-Down Shirt,DressDesign_Polo Shirt,DressDesign_Round Neck,DressDesign_Sflannel Shirt,DressDesign_Sport jacket,DressDesign_T Shirt,DressDesign_Winter Wear
count,355.000000,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,...,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02,3.550000e+02
mean,0.000000,-4.220411e-16,-4.065605e-16,1.932335e-16,1.413580e-16,2.464382e-16,7.787198e-17,-3.096115e-17,-4.159427e-17,-5.254013e-17,...,-4.630099e-16,-2.336159e-16,-4.053878e-16,-5.414292e-16,-2.964765e-16,1.569167e-16,1.619596e-16,-1.462054e-16,-7.451004e-17,-1.635624e-16
std,1.001411,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,...,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00,1.001411e+00
min,-0.500000,-2.172502e-01,-8.753109e-01,-5.314940e-02,-3.613492e-01,-2.632054e-01,-6.001277e-01,-4.464575e-01,-4.189232e-01,-4.734321e-01,...,-2.311114e-01,-4.911810e-01,-1.195229e-01,-2.443389e-01,-3.663131e-01,-5.314940e-02,-5.314940e-02,-1.612810e-01,-1.067521e-01,-7.527099e-02
25%,-0.500000,-2.172502e-01,-8.753109e-01,-5.314940e-02,-3.613492e-01,-2.632054e-01,-6.001277e-01,-4.464575e-01,-4.189232e-01,-4.734321e-01,...,-2.311114e-01,-4.911810e-01,-1.195229e-01,-2.443389e-01,-3.663131e-01,-5.314940e-02,-5.314940e-02,-1.612810e-01,-1.067521e-01,-7.527099e-02
50%,-0.500000,-2.172502e-01,-8.753109e-01,-5.314940e-02,-3.613492e-01,-2.632054e-01,-6.001277e-01,-4.464575e-01,-4.189232e-01,-4.734321e-01,...,-2.311114e-01,-4.911810e-01,-1.195229e-01,-2.443389e-01,-3.663131e-01,-5.314940e-02,-5.314940e-02,-1.612810e-01,-1.067521e-01,-7.527099e-02
75%,-0.500000,-2.172502e-01,1.142451e+00,-5.314940e-02,-3.613492e-01,-2.632054e-01,1.666312e+00,-4.464575e-01,-4.189232e-01,-4.734321e-01,...,-2.311114e-01,-4.911810e-01,-1.195229e-01,-2.443389e-01,-3.663131e-01,-5.314940e-02,-5.314940e-02,-1.612810e-01,-1.067521e-01,-7.527099e-02
max,2.000000,4.602988e+00,1.142451e+00,1.881489e+01,2.767406e+00,3.799313e+00,1.666312e+00,2.239855e+00,2.387072e+00,2.112235e+00,...,4.326918e+00,2.035910e+00,8.366600e+00,4.092676e+00,2.729905e+00,1.881489e+01,1.881489e+01,6.200358e+00,9.367497e+00,1.328533e+01

In [ ]:
bc_labels = dummy_match_df["Matching_Y"]

In [ ]:
X = np.array(bc_feature_df_z)
X.shape

(355, 117)

In [ ]:
y = np.array(bc_labels)
y.shape

(355,)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

In [ ]:
NNH.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='distance')

In [ ]:
predicted_labels = NNH.predict(X_test)
NNH.score(X_test, y_test)

0.6074766355140186

In [ ]:
from sklearn import metrics
print(metrics.confusion_matrix(y_test, predicted_labels))

[[11 22]
 [20 54]]