<a href="https://colab.research.google.com/github/lipsitasahu/lipsitasahu/blob/main/cloth_m_top_logistic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt   
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import metrics
%matplotlib inline

C:\Users\lipsita\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
cloth_df=pd.read_csv("Dataset_m_top_final.csv")

In [ ]:
cloth_df.head()

,ImgID,BodySize,Complexion,Occasion,DressColor,DressDesign,Matching
0,photo-1492447166138-50c3889fccb1,L,Very Fair,Casual,Black&White,Cuban Collar Shirt,Y
1,Img_4,XL,Fair,Casual,Blue&White,Linen Shirt,N
2,image_51,M,Medium,Casual,LightBlue,Overshirt,N
3,image_52,M,Very Fair,Casual,Muddy Brown,Linen Shirt,Y
4,image_53,S,Fair,Wedding,White&Pink,Overshirt,Y

In [ ]:
cloth_df.iloc[12:13]

,ImgID,BodySize,Complexion,Occasion,DressColor,DressDesign,Matching
12,image_61,L,Very Fair,Casual,Black&White&Green,Linen Shirt,Y

In [ ]:
cloth_df.shape

(355, 7)

In [ ]:
cloth_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355 entries, 0 to 354
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImgID        355 non-null    object
 1   BodySize     355 non-null    object
 2   Complexion   355 non-null    object
 3   Occasion     355 non-null    object
 4   DressColor   355 non-null    object
 5   DressDesign  355 non-null    object
 6   Matching     355 non-null    object
dtypes: object(7)
memory usage: 19.5+ KB

In [ ]:
cloth_df.columns

Index(['ImgID', 'BodySize', 'Complexion', 'Occasion', 'DressColor',
       'DressDesign', 'Matching'],
      dtype='object')

In [ ]:
cloth_df.drop('ImgID', inplace=True, axis=1)

In [ ]:
cloth_df.tail()

,BodySize,Complexion,Occasion,DressColor,DressDesign,Matching
350,XL,Olive,Party,Blue&White,Oxford Button-Down Shirt,N
351,S,Very Fair,Formal,White,Classic Short Sleeve Shirt,Y
352,L,Medium,Casual,Blue&White,Casual Shirts,N
353,XL,Fair,Sports,White,Oxford Button-Down Shirt,Y
354,XL,Brown,Sports,Blue,Classic Short Sleeve Shirt,Y

In [ ]:
import category_encoders as ce

In [ ]:
cloth_df['BodySize'].value_counts()

XL     154
L       72
M       71
XXL     41
S       16
XS       1
Name: BodySize, dtype: int64

In [ ]:
cloth_df['Complexion'].value_counts()

Fair          94
Very Fair     65
Brown         61
Medium        59
Olive         53
Dark Brown    23
Name: Complexion, dtype: int64

In [ ]:
cloth_df['Occasion'].value_counts()

Casual     141
Formal      84
Wedding     55
Sports      36
Party       27
Winter       8
party        3
Ethinic      1
Name: Occasion, dtype: int64

In [ ]:
cloth_df['DressColor'].value_counts()

Black             45
White             38
Blue              32
Blue&White        31
Black&White       31
                  ..
Black&Golden       1
Mehendi            1
DarkBlue&Black     1
white              1
Red&white          1
Name: DressColor, Length: 75, dtype: int64

In [ ]:
cloth_df['DressDesign'].value_counts()

Linen Shirt                   69
Flannel Shirt                 59
Classic Short Sleeve Shirt    50
Polo Shirt                    42
Oxford Button-Down Shirt      20
Kurti                         18
Casual Shirts                 17
Check shirt                   13
Sport jacket                   9
Jacket                         8
Blazer                         7
Full Polo Shirt                7
Overshirt                      5
Kurta                          4
T Shirt                        4
Half Polo Shirt                4
Half Shirt                     3
Half Kurti                     2
Full Shirt                     2
Winter Wear                    2
Flannel Shirt&Half blazer      2
Flannel Shirt&Blazer           2
Full Jacket                    2
Full Kurti                     1
Round Neck                     1
Cuban Collar Shirt             1
Sflannel Shirt                 1
Name: DressDesign, dtype: int64

In [ ]:
cloth_df['Matching'].value_counts()

Y    229
N    126
Name: Matching, dtype: int64

In [ ]:
dummy_match_df=pd.get_dummies(cloth_df,drop_first=True)
dummy_match_df.head()

,BodySize_M,BodySize_S,BodySize_XL,BodySize_XS,BodySize_XXL,Complexion_Dark Brown,Complexion_Fair,Complexion_Medium,Complexion_Olive,Complexion_Very Fair,...,DressDesign_Linen Shirt,DressDesign_Overshirt,DressDesign_Oxford Button-Down Shirt,DressDesign_Polo Shirt,DressDesign_Round Neck,DressDesign_Sflannel Shirt,DressDesign_Sport jacket,DressDesign_T Shirt,DressDesign_Winter Wear,Matching_Y
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,0,0,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,1,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1

In [ ]:
array =dummy_match_df.values
X = array[:,0:7]
Y = array[:,8]  
test_size = 0.30
seed = 7  
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)
type(X_train)

numpy.ndarray

In [ ]:
model = LogisticRegression()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
model_score = model.score(X_test, y_test)
print(model_score)

0.8411214953271028

C:\Users\lipsita\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)