<a href="https://colab.research.google.com/github/lipsitasahu/lipsitasahu/blob/main/cloth_m_top_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
import matplotlib.pyplot as plt

In [ ]:
cloth_df=pd.read_csv("Dataset_m_top_final.csv")
cloth_df.head()

,ImgID,BodySize,Complexion,Occasion,DressColor,DressDesign,Matching
0,photo-1492447166138-50c3889fccb1,L,Very Fair,Casual,Black&White,Cuban Collar Shirt,Y
1,Img_4,XL,Fair,Casual,Blue&White,Linen Shirt,N
2,image_51,M,Medium,Casual,LightBlue,Overshirt,N
3,image_52,M,Very Fair,Casual,Muddy Brown,Linen Shirt,Y
4,image_53,S,Fair,Wedding,White&Pink,Overshirt,Y

In [ ]:
cloth_df.shape

(355, 7)

In [ ]:
cloth_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355 entries, 0 to 354
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ImgID        355 non-null    object
 1   BodySize     355 non-null    object
 2   Complexion   355 non-null    object
 3   Occasion     355 non-null    object
 4   DressColor   355 non-null    object
 5   DressDesign  355 non-null    object
 6   Matching     355 non-null    object
dtypes: object(7)
memory usage: 19.5+ KB

In [ ]:
cloth_df.columns

Index(['ImgID', 'BodySize', 'Complexion', 'Occasion', 'DressColor',
       'DressDesign', 'Matching'],
      dtype='object')

In [ ]:
cloth_df.drop('ImgID', inplace=True, axis=1)
cloth_df.tail()

,BodySize,Complexion,Occasion,DressColor,DressDesign,Matching
350,XL,Olive,Party,Blue&White,Oxford Button-Down Shirt,N
351,S,Very Fair,Formal,White,Classic Short Sleeve Shirt,Y
352,L,Medium,Casual,Blue&White,Casual Shirts,N
353,XL,Fair,Sports,White,Oxford Button-Down Shirt,Y
354,XL,Brown,Sports,Blue,Classic Short Sleeve Shirt,Y

In [ ]:
import category_encoders as ce
dummy_match_df=pd.get_dummies(cloth_df,drop_first=True)
dummy_match_df.head()

C:\Users\lipsita\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

,BodySize_M,BodySize_S,BodySize_XL,BodySize_XS,BodySize_XXL,Complexion_Dark Brown,Complexion_Fair,Complexion_Medium,Complexion_Olive,Complexion_Very Fair,...,DressDesign_Linen Shirt,DressDesign_Overshirt,DressDesign_Oxford Button-Down Shirt,DressDesign_Polo Shirt,DressDesign_Round Neck,DressDesign_Sflannel Shirt,DressDesign_Sport jacket,DressDesign_T Shirt,DressDesign_Winter Wear,Matching_Y
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,0,0,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,1,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1

In [ ]:
clf = svm.SVC()

In [ ]:
X,y = np.array(dummy_match_df)[ :, 1:16], np.array(dummy_match_df.Matching_Y)[:]

In [ ]:
X.shape

(355, 15)

In [ ]:
y.shape

(355,)

In [ ]:
y

array([1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 1], dtype=uint8)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

In [ ]:
clf.fit(X_train , y_train)

C:\Users\lipsita\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [ ]:
clf.score(X_test, y_test)

0.6915887850467289

In [ ]:
y_pred = clf.predict(X_test)
pd.crosstab(y_test, y_pred)

col_0   1
row_0
0      33
1      74