<a href="https://colab.research.google.com/github/lipsitasahu/lipsitasahu/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x, y = 10, 0.55
print(x, y)
print(type(x))
print(type(y))

x, y = y, x
print(x, y)
print(type(x))
print(type(y))

10 0.55
<class 'int'>
<class 'float'>
0.55 10
<class 'float'>
<class 'int'>

In [2]:
divisor, divident = 2, 1
ans = divident / divisor
print(ans)
a, b, c, d = 2, 3, 4, 5

ans = a + b * c / d
print(ans)

# ** is power
exp = a ** b
print(exp)

mod = b % a
print(mod)

# // returns integer division result
intDiv = d // a
# / returns float division result
div = d / a
print(div, intDiv)

0.5
4.4
8
1
2.5 2

In [3]:
a,b=3,1
sum=a+b
sum

4

In [4]:
c,d=3.0,0.6
diff=c-d
diff

2.4

In [33]:
a,b=3.00,0.1
mult=a*b
div=a/b
fdiv=a//b
remi=a%b
print(mult)
print(div)
print(fdiv)
print(remi)

0.30000000000000004
30.0
29.0
0.09999999999999984

In [10]:
num = 33
print(num * 5)
print(num)

num /= 5
print(num)

#Naming Convension
#snake_case
s_c = 10


#for constants
CAPITAL_S_C, PI = 100, 3.14159603
#for class
class UpperCamelCase:
    pass

165
33
6.6

In [15]:
#bool
hi = True
bye = not hi
print(hi)
print(not hi)
print(bye)
print(not bye)

#str
s = "hello, srting!"
print(s)

#list
l1 = [40,60,70,40,78]
print(l1)
print(l1[-2])

#dict
my_name = {'first_name': "Humayun",'middle_name':"akbar", 'last_name': "Kabir"}
print(my_name)
print(my_name['first_name'])
print(my_name['middle_name'])
print(my_name['last_name'])

True
False
False
True
hello, srting!
[40, 60, 70, 40, 78]
40
{'first_name': 'Humayun', 'middle_name': 'akbar', 'last_name': 'Kabir'}
Humayun
akbar
Kabir

In [18]:
game_over = False
print(game_over)

game_over = "Yes, it's over!"
print(game_over)

game_over = 500//101
print(game_over)

#None is nothing
game_over = None
print(game_over)
print(type(game_over))

False
Yes, it's over!
4
None
<class 'NoneType'>

In [25]:
a = 'hello'
b = "hello"
print(a)
print(b)

qoute = 'he said, "hello there!"'
print(qoute)
qoute = "he said, 'hello there'"
print(qoute)

qoute = "he said, \"hello there!\""
print(qoute)

qoute = "he said \n , \"hello there!\""
print(qoute)

#string concatenation
username = "mhkm"
msg = "Hello " + username + "how are you"
print(msg)

#Formatting String
name = "Humayun"
msg = f"Hello Mr. {name} Welcome!"
msg2 = "Hello Mr. {} Welcome!".format(name)
print(msg)
print(msg2)

hello
hello
he said, "hello there!"
he said, 'hello there'
he said, "hello there!"
he said
 , "hello there!"
Hello mhkmhow are you
Hello Mr. Humayun Welcome!
Hello Mr. Humayun Welcome!

In [30]:
intx = 10
print(type(intx))

floatxy = float(intx)
print(floatxy)

<class 'int'>
10.0

In [31]:
print("How many KM did you cycle today?")
# by default input return string input
kms = float(input())
miles = kms/1.61
# precisions
miles = round(miles, 3)
print(f"Your {kms} KM is {miles} Miles")

How many KM did you cycle today?
3
Your 3.0 KM is 1.863 Miles

In [32]:
print("What's your favorite color?")
color = input()
print("Your color is: " + color)

What's your favorite color?
blue
Your color is: blue

In [34]:
name = "lipsita"

if name is "lipsa":
    print("First Name")
elif name is "lipsita":
    print("Last Name")
else:
    print("Wrong Name")

name = "lipsa"
if name == "neha":
    print("First Name")
elif name == "lipsita":
    print("Last Name")
else:
    print("Wrong Name")

Last Name
Wrong Name

In [76]:
print("Give a rating on my work(out of 5)!")
rate = input()

if rate is 5:
    print("Excellent")
elif rate is 4:
    print("Very Good")
elif rate is 3:
    print("Good")
elif rate is 2:
    print("Not Good")
elif rate is 1:
    print("Bad")
else:
    print("Rating should be in 1 to 5")

Give a rating on my work(out of 5)!
6
Rating should be in 1 to 5

In [63]:
age, sex = 13, "Female"

if age > 18 and sex is "Female":
    print("Go and Get Marry")
else:
    print("You don't have marry")

You don't have marry

In [64]:
import random

print("Rock...")
print("Paper...")
print("Scissor...")

options = ["rock", "papers", "scissors"]
print("Enter Your Move:")
me = input()

rand = random.randint(0, 2)
pc = options[rand]

player_one = me
player_two = pc

print(f"You Choose: {me}, PC choose {pc}")

if player_one == player_two:
    print("Draw")
elif player_one == "rock":
    if player_two == "scissors":
        print("You WON!")
    elif player_two == "papers":
        print("PC WON!")
elif player_one == "papers":
    if player_two == "rock":
        print("You WON!")
    elif player_two == "scissors":
        print("PC WON!")
elif player_one == "scissors":
    if player_two == "rock":
        print("PC WON!")
    elif player_two == "papers":
        print("You WON")
else:
    print("Something Wrong!")

Rock...
Paper...
Scissor...
Enter Your Move:
rock
You Choose: rock, PC choose rock
Draw

In [67]:
print("Rock...")
print("Paper...")
print("Scissor...")

player_one = input("Player 1, Make your move:")
player_two = input("Player 2, Make your move:")

if player_one == player_two:
    print("Draw")
elif player_one == "rock":
    if player_two == "scissors":
        print("Player 1 WON!")
    elif player_two == "papers":
        print("Palyer 2 WON")
elif player_one == "papers":
    if player_two == "rock":
        print("Palyer 1 WON")
    elif player_two == "scissors":
        print("Palyer 2 WON")
elif player_one == "scissors":
    if player_two == "rock":
        print("Palyer 2 WON")
    elif player_two == "papers":
        print("Palyer 1 WON")
else:
    print("Something Wrong!")

Rock...
Paper...
Scissor...
Player 1, Make your move:Paper
Player 2, Make your move:Rock
Something Wrong!

In [70]:
name = "musa"

for char in name:
    print(char)

# range(a, b, c): >=a to < b, c is the weight of each step[optional]
for number in range(-3, 5, 2):
    print(number)

prices = [10, 12, 15, 9, 11, 13]

for price in prices:
    print(price)

for _ in range(2):
    print("lol")

m
u
s
a
-3
-1
1
3
10
12
15
9
11
13
lol
lol

In [69]:
val = 3

while val < 20:
    print(val)
    val += 4

print("what's the password?")
msg = input()
while msg != "lana":
    print("WRONG!")
    print("what's the password?")
    msg = input()
print("CORRECT!")

3
7
11
15
19
what's the password?
34
WRONG!
what's the password?
lana
CORRECT!

In [72]:
num = 7
for times in range(num):
    for x in range(times):
        print("\U0001f600", end='*')
    print()

😀*
😀*😀*
😀*😀*😀*
😀*😀*😀*😀*
😀*😀*😀*😀*😀*
😀*😀*😀*😀*😀*😀*

In [74]:
num = 3

while num < 6:
    x = 1
    while x <= num:
        print("\U0001f600", end=' ')
        x += 1
    print()
    num += 1

😀 😀 😀
😀 😀 😀 😀
😀 😀 😀 😀 😀

In [78]:
my_list = ["neha", 21, True, 50.678]

print(my_list)
print(len(my_list))

for item in my_list:
    print(item, end=' ')
print()

r = range(1, 10)
print(r)
print(list(r))

colors = ["purple", "teal", "magenta", "blue"]

# iterate using for-loop
for color in colors:
    print(color, end=' ')
print()

# iterate using while loop
x = 0
while x < len(colors):
    print(colors[x], end=' ')
    x += 1

['neha', 21, True, 50.678]
4
neha 21 True 50.678
range(1, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9]
purple teal magenta blue
purple teal magenta blue

In [81]:
# append: add one item to the list
# extend: add more than one item to the list
# insert: add one item at a given position
# clear: remove all items from the list
# demo: remove last element or element in the given position
# remove: remove the first appearance of a given number

list = [100,5,6,8]
list.append(809)
list.append(101)
list.append(406)
print(list)

list_one = [1, 2, 4]
list_two = [5, 6, 7, 8]
list_one.insert(1, 3)
print(list_one)

# list_one.append(list_two)
list_one.extend(list_two)
print(list_one)

demo = list_two
print(demo)
demo.clear()
print(demo)


demo = list_one
print(demo.pop())
print(demo.pop(1))

nums = [1, 3, 4, 6, 5, 4,6]
nums.remove(4)
nums.remove(6)
print(nums)

[100, 5, 6, 8, 809, 101, 406]
[1, 3, 2, 4]
[1, 3, 2, 4, 5, 6, 7, 8]
[5, 6, 7, 8]
[]
8
3
[1, 3, 5, 4, 6]

In [84]:
numbers = [5, 9, 5, 6, 7, 5, 8, 8, 9, 10, 15]
# index
print(numbers.index(5))         # first appearance of 5 #0
print(numbers.index(5, 3))      # first appearance of 5 after index 3 #5
print(numbers.index(9, 6, 9))   # first appearance of 9 in between index 6 & 9 #8
print()

# count()
print(numbers.count(5))     #3
print(numbers.count(14))    #0
print(numbers.count(8))     #2

# reverse()
numbers.reverse()
print("Reversed: ")
print(numbers)

# sort()
numbers.sort()
print("Sorted: ")
print(numbers)

0
5
8

3
0
2
Reversed:
[15, 10, 9, 8, 8, 5, 7, 6, 5, 9, 5]
Sorted:
[5, 5, 5, 6, 7, 8, 8, 9, 9, 10, 15]

In [90]:
first_list = [1, 20, 300, 404, 5, 706]
# exclusing counting
print(first_list[2:])     
print(first_list[:3])       
print(first_list[2:5]) 

# [start:end:step]
print(first_list[20:])     
print(first_list[1::2]) 
print(first_list[1:4:2])    
print(first_list[1:3:2])    
print(first_list[::4])      

print(first_list[1::-1])   
print(first_list[:1:-1])    
print(first_list[2::-1])

[300, 404, 5, 706]
[1, 20, 300]
[300, 404, 5]
[]
[20, 404, 706]
[20, 404]
[20]
[1, 5]
[20, 1]
[706, 5, 404, 300]
[300, 20, 1]

In [92]:
nums = [1, 2, 3, 4]

nums = [x*10 for x in nums]

print(nums)
print([x * 10 for x in nums])

name = 'lipsita'

_name = [char.upper() for char in name]
print(_name)

friends = ["sriju", "tani", "puja"]

print([friend[1].upper() for friend in friends])
# print(my_friend)

numbers = range(1, 11)

evens = [x for x in numbers if x % 2 == 0]
odds  = [x for x in numbers if x % 2 == 1]
print(evens)
print(odds)

special = [x * 2 if x % 2 == 0 else x / 2 for x in numbers]
print(special)

[10, 20, 30, 40]
[100, 200, 300, 400]
['L', 'I', 'P', 'S', 'I', 'T', 'A']
['R', 'A', 'U']
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

In [93]:
maze = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]

for row in maze:
    for val in row:
        print(val, end=' ')
    print()
print(maze[2][2])
print()
print()
[[print(val) for val in row ] for row in maze]

1 2 3
4 5 6
7 8 9
9


1
2
3
4
5
6
7
8
9

[[None, None, None], [None, None, None], [None, None, None]]

In [94]:
person = {
    'first_name': "lipsita",
    'last_name': "sahu",
    'age': 21,
    'sex': "F",
    'married': False
}

print(person['first_name'])
print(person['sex'])

for key in person.keys():
    print(key)

for value in person.values():
    print(value)

for key, value in person.items():
    print(f"{key} : {value}")

if 'sex' in person.values():
    print("Yes, it have!")

lipsita
F
first_name
last_name
age
sex
married
lipsita
sahu
21
F
False
first_name : lipsita
last_name : sahu
age : 21
sex : F
married : False

In [95]:
person = {
    'first_name': "H",
    'last_name': "M",
    'age': 25,
    'sex': "Male",
    'married': False
}

# copy: copy a dictionary
individual = person.copy()
print(individual)

print(person is individual)
print(person == individual)

# clear: delete everything
individual.clear()
print(individual)

# fromkeys
new_user = {}.fromkeys(['name', 'score', 'email'], 'unknown')
print(new_user)

# get
name = person.get('first_name') # returns value of the key
email = person.get('email')     # doesn't exist: None
print(email)

# pop
person.pop('married')   # pop out the k-v pair of the given key
print(person)

# popitem
print(person.popitem())  # pop randomly one item
print(person)

# update
individual.update(person)
print(individual)

{'first_name': 'H', 'last_name': 'M', 'age': 25, 'sex': 'Male', 'married': False}
False
True
{}
{'name': 'unknown', 'score': 'unknown', 'email': 'unknown'}
None
{'first_name': 'H', 'last_name': 'M', 'age': 25, 'sex': 'Male'}
('sex', 'Male')
{'first_name': 'H', 'last_name': 'M', 'age': 25}
{'first_name': 'H', 'last_name': 'M', 'age': 25}

In [97]:
playlist = {
    'title': "Patagonia Bus",
    'author': "Humayun",
    'songs': [
        {
            'song_title': "Song One",
            'artist': ['Artist 1', 'Artist 2'],
            'duration': 10.31,
        },
        {
            'song_title': "Song Two",
            'artist': ['Artist 1'],
            'duration': 12.53,
        },
        {
            'song_title': "Song Three",
            'artist': ['Artist 1', 'Artist 2', 'Artist 3'],
            'duration': 3.43,
        }
    ]
}

total_duration = 0.0
for song in playlist['songs']:
    total_duration += song['duration']
    print(song['song_title'])
print(total_duration)

Song One
Song Two
Song Three
26.27

In [98]:
nums = {
    'a': 1,
    'b': 2,
    'c': 4
}
sq_nums = {key: value **2 for key, value in nums.items()}
print(sq_nums)

sq_numbers = {num: num**3 for num in [1, 2, 3, 4, 5]}
print(sq_numbers)

str1 = 'ABC'
str2 = '123'
combo = {str1[i]:str2[i] for i in range(0, len(str1))}
print(combo)

num_list = [1, 2, 3, 4, 5, 6]
parity = {num:("even" if num % 2 == 0 else "odd") for num in num_list}
print(parity)

{'a': 1, 'b': 4, 'c': 16}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}
{'A': '1', 'B': '2', 'C': '3'}
{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even'}

In [101]:
def wish_birthday():
    print("Happy Birth Day")


wish_birthday()


def square_number(number):
    return number * number


val = square_number(3)
print(val)

Happy Birth Day
9

In [104]:
from random import random


def flip_coin():
    rand = random()
    if rand >= 0.5:
        return "Heads"
    else:
        return "Tails"


# function ovverriding
def flip_coin():
    if random() >= 0.5:
        return "HEADS"
    else:
        return "TAILS"


print(flip_coin())
print(flip_coin())
print(flip_coin())
print(flip_coin())

HEADS
TAILS
HEADS
HEADS

In [105]:
from random import random


def flip_coin():
    rand = random()
    if rand >= 0.5:
        return "Heads"
    else:
        return "Tails"


# function ovverriding
def flip_coin():
    if random() >= 0.5:
        return "HEADS"
    else:
        return "TAILS"


print(flip_coin())
print(flip_coin())
print(flip_coin())
print(flip_coin())

TAILS
HEADS
TAILS
HEADS

In [106]:
def add(a, b):
    return a + b

print(add(3.0, 0.4))


def full_name(first_name, last_name):
    print(f"Your Name is {first_name} {last_name}")

full_name("lipsita", "sahu")

3.4
Your Name is lipsita sahu

In [107]:
def exponent(num, power=6):     # default parameter
    return num ** power


print(exponent(3, 2)) #3*3
print(exponent(4))
print(exponent(5))
# keyword arguements
print(exponent(power=3, num=4))


def add(a, b):
    return a + b


def subtract(a, b):
    return abs(a-b)


def math(a, b, fn = add):
    return fn(a, b)


print(math(3, 4))
func = add
print(math(3, 4, func))
func = subtract
print(math(3, 4, func))

9
4096
15625
64
7
7
1